# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

.vscode/

# Compiled output
/dist
/tmp
/coverage

# Node & environment
/node_modules

# Miscellaneous
/.angular
sass-cache/
