<section class="dashboard">
  <div class="dashboard__loading" *ngIf="isLoading">
    <app-loading></app-loading>
  </div>

  <div *ngIf="!isLoading && articles.length === 0">
    <app-no-content
      title="No Articles Found"
      message="No articles available for this page."
      buttonText="Go Home"
      redirectTo="/"
    ></app-no-content>
  </div>

  <div class="dashboard__grid" *ngIf="!isLoading && articles.length > 0">
    <app-article-card
      *ngFor="let article of articles"
      [article]="article"
    ></app-article-card>
  </div>

  <div class="dashboard__paginator">
    <mat-paginator
      [length]="pagination.totalItems"
      [pageSize]="pagination.pageSize"
      [pageIndex]="pagination.pageIndex"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </div>
</section>
