@use '../abstracts' as *;

body {
  font-family: $font-family-base;
  font-size: $font-size-md;
  color: $color-text;
  background-color: $color-background;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  margin: 0 0 $spacing-md;
}
